:root{
    --texto: #333333;
    --fundo: #f8f8f8;
    --fundo-claro: #ffffff;
    --verde: #4caf50;
    --verde-escuro: #388e3c;
}

/*Seletor de tudo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--fundo);
    color: var(--texto);
}

body.dark{
    --texto: #f8f8f8;
    --fundo: #333;
    --fundo-claro: #444;
    --verde: #79ff7f;
    --verde-escuro: #68da6e;
}

.img-hero-traco-escuro{
    fill: var(--texto);
}

.texto-logo{
    fill: var(--fundo);
}

header{
    background-color: var(--texto);
    color: var(--fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.img-sol{
    cursor: pointer;
}

footer{
    text-align: center;
    font-size: 14px;
    padding: 30px;
}

.header-textos{
    display: flex;
    align-items: center;
    gap: 20px;
}

a{ 
    color: inherit;
    font-weight: 700;
    text-decoration: none;
}

section{
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.hero-textos{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
}

button{
    background: var(--verde);
    color: var(--fundo-claro);
    padding: 12px 20px;
    font-family: inherit;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: var(--verde-escuro);
}

.cards{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card{ 
    background-color: var(--texto);
    color: var(--fundo);
    border-radius: 10px;
    padding: 16px 28px;
}

#beneficios, #download{
    background-color: var(--fundo-claro);
}

.figures{
    display: flex;
    justify-content: center;
    gap: 50px;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    text-align: center;
}

figure img{
    border-radius: 50%;
}

/* POPUP */

.popup{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    display: flex;
    display: none;
    
}

form{
    width: 100%;
    max-width: 400px;
    background-color: var(--fundo);
    color: var(--texto);
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

form input{ 
    width: 100%;
    border-radius: 5px;
    padding: 8px 16px;
    border: solid 1px var(--texto);
}

.botao-fechar{
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: 700;
    cursor: pointer;
}

